
Backend/node_modules/
Backend/.env
Backend/npm-debug.log*
Backend/yarn-debug.log*
Backend/yarn-error.log*


Frontend/node_modules/
Frontend/dist/
Frontend/.env
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*


.DS_Store
Thumbs.db
.vscode/
*.log


*.tgz
